* {
    margin: 0;
    padding: 0;
	font-family: sans-serif;
}

body, html {
	font-family: Roboto;
}

header {
	height: 111px;
	width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 1400px;
}

.nav__menu {
	display: flex;
	justify-content: space-between;
}

.nav__name {
	display: flex;
	flex-direction: column;
	width: 190px;
	justify-content: center;
}

.block__logo {
	display: flex;
	justify-content: space-between;
}

.nav__name:hover {
	cursor: pointer;
}

.nav__name img {
	justify-content: baseline;
	align-self: baseline;
	width: 48px;
	height: 30px;
}

.nav__text {
	justify-content: baseline;
	align-self: baseline;
	color: rgba(29, 43, 91, 1);
	font-size: 35px;
}

.nav__description {
	color: rgba(29, 43, 91, 1);
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.2em;
}

.block__menu {
	display: flex;	
}

.nav__items {
	margin-left: 110px;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	width: 560px;
	align-items: center;
	color: #494949;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}

.nav__item:hover {
	cursor: pointer;
}

.nav__images {
	margin-left: 80px;
	display: flex;
	width: 96px;
	justify-content: space-between;
	align-items: center;
}

.nav__images img {
	width: 27px;
	height: 27px;
}

.nav__images img:hover {
	cursor: pointer;
}

.nav__telephone {
	display: grid;
	grid-template: 92px / minmax(90px,auto) minmax(80px,auto);
	align-items: center;
	justify-items: flex-end;
	margin-left: 20px;
}

.nav__telephone__block {
	grid-area: 1 / 1 / 3 / 3;
	align-items: center;
}

.mobile__icons {
	grid-area: 1 / 1 / 3 / 3;
	align-items: center;
}

.nav__number {
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 28px;
	letter-spacing: 0.025em;
	color: #272727;
}

.nav__telephone a {
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #5661CB;
	text-decoration-line: underline;
}

.mobile__icons  {
	visibility: hidden;
}

@media screen and (max-width: 1400px) and (min-width: 1001px) {
	.container {
		width: 1250px;
	}

	.nav__number {
		font-size: 20px;
	}

	.nav__telephone a {
		font-size: 14px;
	}

	.nav__menu {
		padding: 0 15px 15px 15px;
	}
}

@media screen and (max-width: 1000px) and (min-width: 769px) {
	.header {
		height: 91px;
	}
	
	.container {
		max-width: 990px;
	}

	.nav__name img {
		width: 38px;
		height: 24px;
	}

	.nav__text {
		font-size: 29px;
		letter-spacing: 2px;
	}

	.nav__name {
		width: 170px;
	}

	.nav__name img {
		width: 38px;
		height: 24px;
	}

	.nav__description {
		font-size: 15px;
		letter-spacing: 0.1em;
	}

	.nav__menu {
		padding: 0 15px 15px 15px;
		display: flex;
	}

	.nav__item {
		font-size: 16px;
		line-height: 19px;
		margin-right: 46px;
	}

	.nav__items {
		width: 391px;
		margin-left: 60px;
	}

	.nav__item:last-child {
		margin-right: 0;
	}

	.nav__images {
		margin-left: 80px;
		display: flex;
		width: 96px;
		justify-content: space-between;
		align-items: center;
	}

	.nav__images img {
		width: 22px;
		height: 22px;
	}

	.nav__telephone a {
		font-size: 12.5px;
		line-height: 16px;
	}

	.nav__telephone {
		width: 183px;
	}

	.nav__number {
		font-size: 18px;
		line-height: 26px;
	}
}

@media screen and (max-width: 768px) and (min-width: 481px) {
	.container {
		width: none;
	}

	.nav__items, .nav__images, .nav__number__text, .nav__number, .mobile__icons__tel, .mobile__icons__tel2 {
		visibility: hidden;
    	display: none;
	}

	.nav__name {
		width: 135px;
	}

	.nav__text {
		font-size: 28px;
	}

	.block__logo {
		justify-content: space-between;
	}

	.block__logo img {
		width: 32px;
		height: 19px;
	}

	.nav__description {
		font-size: 10px;
		letter-spacing: 2.5px;
	}

	.mobile__icons {
		visibility: inherit;
		display: flex;
		justify-content: space-between;
		width: 230px;
		align-items: center;
	}

	.mobile__icons__burger {
		height: 25px;
		width: 19px;
	}

	.mobile__icons__burger:hover {
		cursor: pointer;
	}

	.nav__menu {
		padding: 0 20px 15px 20px;
	}
}

@media screen and (max-width: 480px) {
	.nav__items, .nav__images, .nav__telephone__block, .one__number {
		visibility: hidden;
    	display: none;
	}

	.container {
		width: none;
		padding: 0 10px;
	}

	.nav__name {
		width: 135px;
	}

	.nav__text {
		font-size: 28px;
	}

	.block__logo {
		justify-content: space-between;
	}

	.block__logo img {
		width: 32px;
		height: 19px;
	}

	.nav__description {
		font-size: 10px;
		letter-spacing: 2.5px;
	}

	.mobile__icons {
		visibility: inherit;
		display: flex;
		justify-content: space-between;
		width: 75px;
		align-items: center;
	}

	.mobile__icons__tel {
		height: 25px;
		width: 25px;
	}

	.mobile__icons__burger {
		height: 25px;
		width: 19px;

	}

	.mobile__icons__tel:hover, .mobile__icons__burger:hover {
		cursor: pointer;
	}

	.nav__menu {
		padding: 0 10px 10px 10px;
	}
}

@media screen and (max-width: 320px) {
	.nav__items, .nav__images, .nav__telephone__block, .one__number {
		visibility: hidden;
    	display: none;
	}

	.container {
		width: 280px;
	}

	.nav__name {
		width: 120px;
	}

	.nav__text {
		font-size: 25px;
	}

	.block__logo img {
		width: 26px;
		height: 16px;
	}

	.nav__description {
		font-size: 8px;
		letter-spacing: 3px;
	}

	.mobile__icons__burger, .mobile__icons__tel {
		visibility: inherit;
	} 
	
	.mobile__icons {
		display: flex;
		justify-content: space-between;
		width: 75px;
		align-items: center;
	}

	.mobile__icons__tel {
		height: 25px;
		width: 25px;
	}

	.mobile__icons__burger {
		height: 25px;
		width: 19px;
	}

	.mobile__icons__tel:hover, .mobile__icons__burger:hover {
		cursor: pointer;
	}

	.nav__menu {
		padding: 0 0px 10px 0px;
	}
}








